.table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.avater img {

 width: 80px;
 height: auto;
 padding: 2px;
 border: 1px solid #505050;
 border-radius: 50%;
}